/* @font-face {
  font-family: "Russo One";
  font-style: normal;
  src: url("fonts/RussoOne-Regular.ttf") format("truetype");
  src: local("Russo One");
} */

* {
  font-family: "Russo One", sans-serif;
}

body {
  background-color: #89aab0;
}

select {
  text-transform: capitalize;
  color: #5e7385;
}

select:focus {
  outline: transparent;
}

#display-1 {
  text-align: center;
}

#input_text {
  width: 50%;
}

#input_text:focus {
  color: #8f2543;
  outline: transparent;
}

#input_new_room {
  margin: 4px;
}

#input_new_room:focus {
  color: #8f2543;
  outline: transparent;
}

.username-password {
  text-align: center;
}

.username-password:focus {
  color: #8f2543;
  outline: transparent;

}

#username {
  text-align: center;
}

#header {
  text-align: center;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

#header > * {
  padding: 0 15px;
}

#header > h1 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  color: #8f2543;
  /* font-family: 'Special Elite', cursive; */
}

h1 > .link {
  margin-left: 15px;
}

#message {
  text-align: justify;
}

#messages {
  display: flex;
  flex-direction: column;
  /* padding-right: 40px;
  border: 2px solid #272442;
  border-radius: 5px;
  height: 70vh;
  overflow-y: auto;
  background-color: #bcd1d0;
  list-style-type: none; */
  width: 75vw;
}

.end {
  align-self: flex-end;
}

.start {
  align-self: flex-start;
}

.disabled {
  color: grey;
}

span.user {
  color: #ba6c48;
}

span.not-user {
  color: #8f2543;
}

.flex {
  display: flex;
}

main {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

main > * {
  border: 2px solid #272442;
  border-radius: 5px;
  height: 80vh;
  overflow-y: auto;
  background-color: #bcd1d0;
  list-style-type: none;
  margin: 0 15px;
}

ul.rooms {
  list-style-type: none;
}

nav.rooms {
  width: 15vw;
}

.link:visited, .link {
  color: #ba6c48;
  border-radius: 5px;
}

header.rooms {
  font-size: 1.5rem;
  text-decoration: underline;
}

.link:hover {
  background-color: gray;
  transition: background-color 1s;
}

/* .link: */

#forms {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

#forms > * {
  margin: 0 15px;
}